-- Example config file for gtkabber
-- Should be placed in ~/.config/gtkabber.lua
server = "jabber.org"
jid = "johndoe@jabber.org"
passwd = "neverforget"
resource = "gtkabber@home"
priority = 5
-- only one of those can be true
use_ssl = true
use_tls = false
-- some ui settings
case_sensitive_sorting = false

-- scripting
-- here are some example event callbacks
--[[
function message_cb (jid, msg)
	-- jid contains jid of the sender (with resource), msg keeps the full message body
	os.execute("xcowsay 'Got message from "..jid.."' &")
end

function presence_cb (jid, status, status_msg)
	-- jid contains jid of the sender (with resource),
	-- status keeps buddy's readable status (online, free for chat, away, not available, do not disturb or offline),
	-- status_msg is buddy's status message (might be nil)
	os.execute("xcowsay '"..jid.." is now "..status.."' &")
end
]]--
