-- Example config file for gtkabber
-- Should be placed in ~/.config/gtkabber.lua
server = "jabber.org"
jid = "johndoe@jabber.org"
passwd = "neverforget"
resource = "gtkabber@home"
priority = 5
-- only one of those can be true
use_ssl = true
use_tls = false
-- some ui settings
case_sensitive_sorting = false
